.header {
    min-height: 80px;
}
.header-left {
    float: left;
}
.header-left h1 {
    display: inline;
}
.header-right {
    float: right;
}
.article {
    max-width: 650px;
    margin: 0px auto;
}
.title {
    max-width: 350px;
    margin: 0px auto;
    text-align: center;
}
.date {
    margin: 0px auto;
    max-width: 200px;
}
.social {
    max-width:200px;
    margin: 0px auto;
}
.bottom-navigation {
    max-width: 650px;
    margin: 0px auto;
}
.footer {
    max-width: 200px;
    margin: 0px auto;
    text-align: center;
}